/*@import url(https://fonts.googleapis.com/css?family=Lobster);*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100);
@import url(https://fonts.googleapis.com/css?family=Chela+One);

body {
  /*background: url("../hunting.JPG");*/
  background-size: scroll;
  /*color: #FFCA23;*/
  text-align: center;
  /*background-position: center center;*/
  /*background-color: #fff;*/
  list-style-type: none;
  font-size: 30px;
}

#left img{
  width: 100%;

}

h1{
  color: #A93500;
  font-family: Helvetica;
  /*text-transform: uppercase;*/
  font-size: 3em;
  /*background: rgba(255,255,255,.2);*/
  /*margin-left: 300px;
  margin-right: 300px;*/
  /*font-family: Chela One;*/

}

.clearfix:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

#two-column{
  /*background-color: #C8FF00;*/
  /*border: .05em black solid;*/
  padding: .6em;
  width: 100%;
}

#left{
  /*background-color: #E582A2;*/
 /* border: 1px black solid;*/
  /*padding: 20px;*/
  float: left;
  width: 60%;
}

#right{
  /*background-color: #E55B88;*/
 /* border: 1px black solid;*/
  /*padding: 20px;*/
  float: right;
  width: 30%;
  /*padding: ;*/
}
}



p{
  color: ;
  /*background: rgba(255,255,255,.5);*/


  /*line-height: 28px;*/
}

ul{
  /*background: rgba(255,255,255,.2);*/
}

#slogan{
  /*font-style: italic;*/
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  /*margin-left: 300px;
  margin-right: 300px;*/
  /*  */
}
article{
  background-color: #F65309;
  padding: 15px 0 15px 0;
}
.content li{
  /*display: inline;*/
  background-color: #F65309;
  font-style: serif;
  font-size: 25px;
  /*line-height: 2em;*/
  list-style-type: none;
  font-family: 'Raleway', sans-serif;
  /*font-weight: bold;*/
  color: white;
}

#wrapper{
  /*background-color: #F0F0D8;*/
  width: 100%;
  margin: 0 auto;
  /*border: 20px solid red;*/
}

#packing-list ul{
  /*width: 1000px;
  margin: 0 auto;*/
  /*border: 20px solid red;*/
  /*text-decoration: none;*/
  list-style-type: none;
  /*padding: 20px;*/
}

/*.rifle, .mountain, .deer {
  padding: 20px;
}*/

#gear{
  /*margin-top: 30px;*/
  background-color: #09F6DC;
  /*width: 1100px;*/
  padding: 100px;
}

#packing-list{
  background-color: yellow;
  border: 1px solid black;
  padding: 100px;
}

#right{
  /*padding-left: 0px;*/
  /*background-color: #F65309;*/
  /*padding:1px;*/
}

.top{
  margin: 1em;
}

a{
  color: white;
  text-decoration: none;
}

a:hover {
background-color: #000;
}

button{
  background-color: #09F6DC;
}

@media (max-width: 1280px) {
 /* #right {
    float: none;
  }

  #right a{
    margin: 2em;
    color: black;
  }

  #right li{
    background: none;
  }*/

  img{
    width: 100%;
  }

  img.top {
    width: 40%;
  }

  #left{
    width: 50%;
  }

}



/*@ media query >1133px
@ media query 743px
@ media query 600px*/
